.container { 
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 70px;
  z-index:0;
}


.smaller_container {
    z-index: 0;
}


.item {
    padding: 20px;
    border-radius: 40px;
    width: 500px;
    margin: 40px;
    font-size: 25px;
    border: 1px solid silver;
    align-self: flex-start;
    
}   


#sign {
    font-size: 60px;
    border: none;
    margin-left: 185px;
    font-weight: 760;
    font-family: arial;
    
}


#item1:after {
    content: ' \263B';
}

.item_2:after {
    content: ' \2709';
}

.item_3 {
    
}

a {
    font-size: 40px;
    margin-left: 200px;
    border: 1px solid silver;
    border-radius: 40px;
    background-color: rgb(5, 12, 218);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 500; 
    font-family: arial;
    text-decoration: none;
    
}

h5 {
    font-size: 20px;
    margin-left: 175px;
    margin-top: 40px;
    font-family: arial;
}


#media {
    width: 630px;
    
}

#pic {
    float: right;
    z-index: 1;
}