.container { 
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-left: 70px;
}


.item {
    padding: 20px;
    border-radius: 40px;
    width: 500px;
    margin: 40px;
    font-size: 25px;
    border: 1px solid silver;
    align-self: flex-start;
    
}   


#sign {
    font-size: 60px;
    border: none;
    margin-left: 190px;
    font-weight: 900;
    
}


#item1:after {
    content: ' \263B';
}

.item_2:after {
    content: ' \2709';
}

.item_3 {
    
}